<h1>Listing run_summaries</h1>

<table>
  <tr>
    <th>User</th>
  </tr>

<% for run_summary in @run_summaries %>
  <tr>
    <td><%=h run_summary.user_id %></td>
    <td><%= link_to 'Show', run_summary %></td>
    <td><%= link_to 'Edit', edit_run_summary_path(run_summary) %></td>
    <td><%= link_to 'Destroy', run_summary, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New run_summary', new_run_summary_path %>
