<h1>Listing topic_run_results</h1>

<table>
  <tr>
    <th>Userid</th>
  </tr>

<% for topic_run_result in @topic_run_results %>
  <tr>
    <td><%=h topic_run_result.userId %></td>
    <td><%= link_to 'Show', topic_run_result %></td>
    <td><%= link_to 'Edit', edit_topic_run_result_path(topic_run_result) %></td>
    <td><%= link_to 'Destroy', topic_run_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New topic_run_result', new_topic_run_result_path %>
